#root {
    margin: 0 auto;
    text-align: center;
}

.header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header-container__nav {
    display: flex;
}

.header-container__nav .navbar-nav {
    align-items: center;
}

.custom-container {
    max-width: 90% !important;
}

.navbar {
    background-color: #003b95;
}

.primary-button {
    background-color: #fff !important;
    color: #003b95 !important;
}

.navbar .nav-link {
    color: #fff !important;
}

.bucket-list_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-checkbox {
    display: flex;
}

.dashboard-card {
    min-height: 100px;
}

.logo {
    width: 40px;
}

.card-name {
    cursor: pointer;
}

.destination-list {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
}

.destination-list__info:first-child {
    display: flex;
}

.custom-badge {
    padding: 3px !important;
    display: block !important;
}